{% extends 'layout.html' %}

{% block body %}
<head>
    <link href="{{ url_for('static', filename='css/service.css') }}" rel="stylesheet">
    <style>
        video {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
    </style>
</head>

<div class="service-section">
    <div class="container">
        <div class="row text-center mx-5 box-container">
            <div class="col-xl-12 col-lg-12 col-md-6 text-center mt-4">
                <div class="text-hero-medium text-center">License Plate Recognition</div>
                <div class="text-regular mt-4 text-center">
                    Upload an image or use the live camera to recognize the license plate number.
                </div>
                <div class="container mt-4">
                    <form action="#" method="POST" enctype="multipart/form-data" class="container mr-5">
                        <input type="file" class="form-control" name="image_name" id="image-upload" required/>
                        <input type="submit" value="Upload Image" class="btn btn-primary mt-3 mb-3"/>
                        
                    </form>

                    <div class="container" id="camera-container">
                        <video id="video-feed" autoplay class="form-control"></video>
                        <button id="capture-btn" class="btn btn-primary">Capture Image</button>
                    </div>
                    
                    <form id="upload-form" method="POST" enctype="multipart/form-data" class="container">
                        <input type="hidden" name="image_data" id="image-data" required>
                    </form>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% if upload %}
<div class="result-section">
    <div class="container">
        <div class="row box-container mx-5 mt-5">
            <div class="text-hero-medium text-center mt-5">
                Here's the Result
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 mt-5 mb-4">
                <img class="rounded float-left img-fluid" src="/static/upload/{{upload_image}}" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 mt-5 mb-4">
                <img class="rounded float-right img-fluid" src="/static/predict/{{upload_image}}" alt="">
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="mt-5">
                    <div class="text-medium mt-5">License Plate Number</div>
                    <div class="text-hero-medium mt-5">
                        {% if text and text|length >= 2 %}
                            {{ text[1][1] }}
                        {% else %}
                            No text available.
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<script>
    const imageUpload = document.getElementById('image-upload');
    const cameraContainer = document.getElementById('camera-container');
    const videoFeed = document.getElementById('video-feed');
    // const captureBtn = document.getElementById('capture-btn');

    const unsupportedFileError = document.getElementById('unsupported-file-error');

    imageUpload.addEventListener('change', function () {
        if (!validateFileExtension(this.value)) {
            unsupportedFileError.style.display = 'block';
        } else {
            unsupportedFileError.style.display = 'none';
        }
    });

    // Add this function to validate the file extension
    function validateFileExtension(filename) {
        const allowedExtensions = ['.jpg', '.jpeg', '.png'];
        const extension = filename.substring(filename.lastIndexOf('.')).toLowerCase();
        return allowedExtensions.includes(extension);
    }

    // Add this function to validate the form submission
    function validateFile(form) {
        const fileInput = form.querySelector('input[type="file"]');
        if (!validateFileExtension(fileInput.value)) {
            unsupportedFileError.style.display = 'block';
            print("File is not supported")
            return false; // Prevent form submission
        } else {
            unsupportedFileError.style.display = 'none';
            return true; // Allow form submission
        }
    }
    

  
                        // Get access to the video feed
                        const video = document.getElementById('video-feed');
                        navigator.mediaDevices.getUserMedia({ video: true })
                            .then(stream => {
                                video.srcObject = stream;
                            })
                            .catch(error => {
                                console.error('Error accessing the camera: ', error);
                            });
                    
                        // Capture image and populate the hidden input field with base64 data
                        const captureBtn = document.getElementById('capture-btn');
                        const imageDataInput = document.getElementById('image-data');
                        captureBtn.addEventListener('click', () => {
                            const canvas = document.createElement('canvas');
                            const context = canvas.getContext('2d');
                            canvas.width = video.videoWidth;
                            canvas.height = video.videoHeight;
                            context.drawImage(video, 0, 0, canvas.width, canvas.height);
                    
                            const imageBase64 = canvas.toDataURL('image/png');
                            imageDataInput.value = imageBase64;
                    
                            // Submit the form to the Flask server for prediction
                            document.getElementById('upload-form').submit();
                        });
                       

    const openCameraBtn = document.getElementById('open-camera-btn');
    let cameraOpen = false; // Track camera status

    // // Show or hide live camera when "Open Camera" button is clicked
    // openCameraBtn.addEventListener('click', function () {
    //     if (!cameraOpen) {
    //         imageUpload.style.display = 'none';
    //         cameraContainer.style.display = 'block';
    //         startCamera();
    //     } else {
    //         cameraContainer.style.display = 'none';
    //         imageUpload.style.display = 'block';
    //         stopCamera();
    //     }
    //     cameraOpen = !cameraOpen; // Toggle camera status
    // });

    
    // // Show live camera when "Open Camera" button is clicked
    // openCameraBtn.addEventListener('click', function () {
    //     imageUpload.style.display = 'none';
    //     cameraContainer.style.display = 'block';
    //     startCamera();
    // });

    // Show live camera when user selects it
    imageUpload.addEventListener('change', function () {
        if (this.value === 'camera') {
            imageUpload.style.display = 'none';
            cameraContainer.style.display = 'block';
            startCamera();
        }
    });

    // Capture image from live camera
    captureBtn.addEventListener('click', function () {
        const canvas = document.createElement('canvas');
        canvas.width = videoFeed.videoWidth;
        canvas.height = videoFeed.videoHeight;
        canvas.getContext('2d').drawImage(videoFeed, 0, 0, canvas.width, canvas.height);
        const dataURL = canvas.toDataURL('image/jpeg');
        canvas.remove();
        const img = document.createElement('img');
        img.src = dataURL;
        img.classList.add('rounded', 'float-left', 'img-fluid');
        img.style.marginBottom = '10px';
        cameraContainer.parentNode.insertBefore(img, cameraContainer.nextSibling);
        cameraContainer.style.display = 'none';
        imageUpload.style.display = 'block';
        imageUpload.value = '';
        imageUpload.files = [dataURLtoBlob(dataURL)];

        // Send the captured image to the server for recognition
        const formData = new FormData();
        formData.append('image', dataURLtoBlob(dataURL));
        fetch('/recognize', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                // Update the UI with the recognized license plate number
                const licensePlateNumber = data.licensePlateNumber;
                const licensePlateNumberElement = document.getElementById('license-plate-number');
                licensePlateNumberElement.textContent = licensePlateNumber;
            })
            .catch(error => {
                console.error('Error recognizing license plate:', error);
            });
    });

    // Start the live camera stream
    function startCamera() {
        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    videoFeed.srcObject = stream;
                })
                .catch(function (error) {
                    console.log('Error accessing camera:', error);
                });
        } else {
            console.log('getUserMedia is not supported');
        }
    }

    // Convert Data URL to Blob object
    function dataURLtoBlob(dataURL) {
        const parts = dataURL.split(';base64,');
        const contentType = parts[0].split(':')[1];
        const byteString = atob(parts[1]);
        let arrayBuffer = new ArrayBuffer(byteString.length);
        let uint8Array = new Uint8Array(arrayBuffer);
        for (let i = 0; i < byteString.length; i++) {
            uint8Array[i] = byteString.charCodeAt(i);
        }
        return new Blob([arrayBuffer], { type: contentType });
    }
</script>
{% endblock %}
